.slider-wrapper .slider-item{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.slider-container{
    overflow:hidden;
    height: 100%;
    width: 100%;

}
/* .slider-wrapper .slider-item:before{
    position: relative;
    content: none;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/img-1.jpg");
    background-size: cover;
    background-position: center;
} */
.slider-item {
    background-image: url("images/pick\ 6.jpg");
    background-size: cover;
    background-position: center;
    width:100%;
    height: 100%;
}
.slider-item :nth-child(){
    background-image: url(images/pick\ 3.jpg);
}
.slider-wrapper .slider-item .slider-content{
    color: rgb(3, 3, 3);
    width: 100%;
    z-index: 50;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;
}
.slider-item .slider-content .slide-subtitle{
    font-size: 1.5rcm;
    font-weight:700px;
    margin-top: 5px;
    text-transform: uppercase;
}
.slider-item .slider-content .slide-description{
    margin-top: 25px;
    line-height: 25px;
}
.slider-item .slide-content .slide-button {
    color: white;
    width: 250px;
    padding: 13px 0;
    display: block;
    margin-top: 4px;
    text-decoration: none;
    border:2px solid white;
    font-size: 0.8rcm;
    font-weight: 600px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.slider-item .slide-content .slide-button :hover{
    color: black;
    background: white;
}

